/* =========================
   NAVBAR
========================= */

.navbar {
    width: 100%;

    padding: 18px 7%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.75);

    border-bottom: 1px solid rgba(255, 255, 255, 0.8);

    box-shadow:
        0 5px 20px rgba(70, 75, 70, 0.08);

    backdrop-filter: blur(10px);

    position: fixed;
    top: 0;
    left: 0;

    z-index: 100;
}


/* LOGO */

.logo {
    font-size: 21px;
    font-weight: bold;

    color: #35423b;
}


/* MENU NAVBAR */

.nav-menu {
    display: flex;

    gap: 30px;
}


/* LINK NAVBAR */

.nav-menu a {
    text-decoration: none;

    color: #59665f;

    font-size: 15px;
    font-weight: 600;

    padding: 8px 4px;

    transition: 0.3s;
}


/* HOVER */

.nav-menu a:hover {
    color: #718f80;
}


/* RESPONSIVE */

@media (max-width: 800px) {

    .navbar {
        padding: 16px 5%;
    }

    .nav-menu {
        gap: 15px;
    }

}